<p>directives works!</p>

<h1>{{today}}</h1>
<h2>{{ today | date }}</h2>
<h2>{{ today | date:'yyyy/MM/dd' }}</h2>
<h2>{{ today | date:'dd-MM-yy' }}</h2>
<h2>{{ today | date:'shortTime' }}</h2>

<h2>{{user | json}}</h2>


<h1 *ngFor="let name of names">{{name}}</h1>

<ol type="I">
    <li *ngFor="let name of names">{{name}}</li>
</ol>

<select>
    <option *ngFor="let state of states">{{state}}</option>
</select>

<h2 *ngFor="let user of users">My name is {{ user.name }} and my age is {{ user.age }}.</h2>

<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>sub</th>
            <th>marks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.name | uppercase }}</td>
            <td [ngClass]="{ 'pass':student.marks>=35, 'fail':student.marks<35 }">{{ student.sub }}</td>
            <td [ngStyle]="{ 'background-color': student.marks>=35?'green':'red' }">{{ student.marks }}</td>
        </tr>
    </tbody>
</table>


<div class="product" *ngFor="let product of products">
    <h3>Product Name: {{ product.name }}</h3>
    <h3>Product price: {{ product.price }}</h3>
    <h3>Product rating: {{ product.rating }}</h3>
</div>


<hr>


<label>Time:</label>
<input type="number" [(ngModel)]="time">

<h1 *ngIf="time>=0 && time<=12">Good Morning</h1>
<h1 *ngIf="time>=13 && time<=17">Good Afternoon</h1>
<h1 *ngIf="time>=17 && time<=20">Good Evening</h1>
<h1 *ngIf="time>=20 && time<=24">Good Night</h1>