<h1>{{ isEdit? "Edit Vehicle Form" : "Create Vehicle Form" }}</h1>

<form [formGroup]="vehicleForm">

    <label for="">Vehicle</label>
    <input type="text" formControlName="Vehicle">
    <br>
 
    <label for="">manufacturer</label>
    <input type="text" formControlName="manufacturer">
    <br>
    
    <label for="">model</label>
    <input type="text" formControlName="model">
    <br>

    <label for="">type</label>
    <input type="text" formControlName="type">
    <br>

    <label for="">color</label>
    <input type="text" formControlName="color">
    <br>

    <label for="">image</label>
    <input type="text" formControlName="image">
    <br>

    <button class="btn btn-success" (click)="submit()">{{ isEdit?"update":"create"}}</button>


</form>


