
<h1>Calculator</h1>

<!-- <p>{{user | json}}</p> -->

<label>Number 1:</label>
<input type="number" [(ngModel)]="number1">
<br>
<label>Number 2:</label>
<input type="number" [(ngModel)]="number2">

<br>

<button (click)="sum()">sum</button>
<button (click)="sub()">sub</button>

<h1>Result is {{ result }}</h1>

API Integration / HTTP:
-----------------------

    client server architecture:
    ---------------------------

    Request methods and resonse codes:
    ----------------------------------

    All possible api calls:
    -----------------------
    1) all        get        get(url)
    2) specific   get        get(url/id)
    3) filter     get        get(url?filter=Kia)
    4) sorting    get        get(url?sortBy=_____ & order=_____)
    5) pagination get        get(url?limit=10&page=1)

    6) create     post       post(url,data)

    7) update     put        put(url/id, data)

    8) delete     delete     delete(url/id)


RXJS:
-----

    Reactive extension for Java Script.

    Useful to write async code in angular.

    Featers:
    --------
        1) promises
        2) observables
        3) subjects

           Promise                                  Observable
          ---------                               --------------
    1) Emits single callback                1) Emits multiple callbacks

    2) Promise exeutes automatically        2) Executes when ever we subscribe(Lazy)

    3) Cannot stop inbetween                3) We can stop inbetween using unsubscribe method

    4) Less rxjs operator support           4) More Rxjs operator support


        Observable                                   subject
        ----------                                 ------------
    1) unicast                               1) Multicast

    2) Does not maintain state               2) Maintains state


    Data Flow:
    ----------


        HTML             TS            SERVICE            API 


    API Integration:
    ----------------

    1) Import HttpClientModule in appModule.

    2) Inject HttpClient servie in VehicleService

    3) Write a method to hit api using get,post,put,delete.

    4) Api will return objservable of data
       -> subscribe in ts file and store data in variable.

    5) Loop over data and form table in HTML.
 

Forms:
------
    There are two types of form in Angular

        1) Template driven forms
        2) Reactive forms

    Why Reactive forms:
    -------------------

        1) Reactive froms are model driven
        2) Provides more features like touched, pristine, dirty, valid, erorrs, custom validators.

    Reactive Form Features:
    -----------------------
        1) FormGroup
        2) Nested form group
        3) FormArray
        4) Dynamic Forms
        5) FormValidations
        6) Custom Validators

        1) FormGroup Implementation:
        --------------------------
            1) Import ReactiveFormsModule in appModule.
            2) Create form in HTML.
            3) Create formGroup in TS.
            4) Map the controls.
            5) console the form value in submit method.

        
        2) Nested formGroup Implementation
           --------------------------------
           
        3) FormArray Implementation:
           -------------------------
           1) Create formarray in form group.
           2) Create getter method to access formArray.
           3) Create add method to push fromGroups into fromArray.
           4) Map the formArray, fromGroup, formControl in html with loop.
           5) Delete the formGroup with removeAt method.

        
        5) FormValidations:
           ----------------

            ts:
            ---

                age: new FormControl("",[Validators.requried, Validators.max(100)])

            html:
            -----
                <!-- <div *ngIf="_______?.touched && ______?.invalid">

                    <p *ngIf="______?.errors?.['reqruied']">Age is required</p>
                    <p *ngIf="______?.errors?.['max']">Age max 100 only</p>

                </div> -->

                1) FormGroup ->           userForm.get('age')
                2) NestedFormGroup ->     userForm.get('address')?.get('pin')
                3) FormArray ->           cardsFormArray.controls[i].get('cvv')















<!-- Navigation form HTML:
---------------------

    <button routerLink="/dashboard"></button>

Navigation from TS:
-------------------

    constructor(private _router:Router){}

    this._router.navigateByUrl("/dashboard"); -->
<!-- 
Angular communications:
-----------------------

    1) Page communication
    2) Component communication
    3) Module Communication


    1) Page Communication:
      --------------------

        create param in path:
        ---------------------

            {path:'vehicle-details/:id', ...}

        Set id in path param:
        ---------------------

            this.router.navigateByUrl("/dashboard/vehicle-details/"+id);

        Get id from path:
        -----------------

            this._activatedRoute.params.subscribe(
                (data:any)=>{
                    alert(data.id)
                }
            )
             -->

    <!-- 2) Component Communication:
       ------------------------

             1) parent to child
             2) child to parent
             3) sibling

        <button [disabled]="true" (click)="submit()"></button>


        1) parent to child:
           ----------------

           1) Create @Input() variable in child

                @Input() rating:number = 0;

           2) Pass data at child tag

                <app-child [rating]="2"></app-child>


        2) child to parent:
           ----------------

             1) Create event in child

                public bEvent:EventEmitter<any> = new EventEmitter();

            2) Emit event from child

                this.bEvent.emit(10);

            3) Catch event in parent

                <app-child (bEvent)="catch($event)" ></app-child>











 -->




<!-- Git setup:
----------

        1) Link laptop with github webiste

            git config --global user.name "XXXX"
            git config --global user.email "XXXX"


        2) Link project folder with github repository.

            git init
            git remote add origin URLXXX

        3) process - code sync

             git add .
             git commit -m "XXXX"
             git push -->
            




ng g c items
ng g c nav
ng g c cartlist

ng g s common

<!-- 
Module communciation:
---------------------

    1) Eager loading
    2) Lazy loading
    3) pre loading


    1) Eager Loading:
    -----------------

        1) create feature module( ng g m aboutus )
        2) export the components from feature module
        3) import the feature module in app module.

    2) Lazy Loading:
    ----------------

        1) create feature module with routing module. ( ng g m contactus --routing=true )
        2) configure component routes in feature routing module.
        3) configure lazy loading route in app module. (copy from angular.io)

            {
                path: 'contactus',
                loadChildren: () => import('./contactus/contactus.module').then(m => m.ContactusModule)
            } 

    3) Pre Loading:
    ----------------

            Download all lazy loading modules 
              immedialty after completion of eager loading.

        Implementation: app-routing.module.ts
        ---------------

        RouterModule.forRoot(routes, {preloadingStrategy:PreloadAllModules}  )

    -->