.parent{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 30%;
    height: 50%;
    background-color: white;
    padding: 30px;
}
input{
    width: 90%;
    padding: 10px;
    border:1px solid gray;
    margin: 20px;
}
button{
    width: 100%;
    background-color: green;
    border:1px solid gray;
    padding: 20px;
    font-size: 25px;
    font-weight: 400;
}

